{% extends 'base.html.j2' %}

{% block title %}
Shopping Cart
{% endblock %}


{% block content %}
<h1 class="text-center mb-4">Shopping Cart</h1>
{% if not cart %}
	
	<p>Your cart is currently empty.</p>
    <a href="{{ url_for('main.products') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">CONTINUE SHOPPING</a>
{% else %}    
    <div style=" text-align: right;">Price</div>
		<div id="tableproducts" >

			{% for product in cart %}
			
				<hr>
				<div id="productName" style=" text-align: 	left;">
					<img src="/static/product{{ product.id }}.JPG" class="card-img-top" alt="..." style="height: 80px; width:80px">
					<span id="productNameTag">{{product.product_name}}</span>

					<span id="productNameTag"><div style=" text-align: right">${{product.price}}</div></span>

				    <form action="{{ url_for('cart') }}" method="post">
    					<div class="form-group">
        
    

	        				<input type="hidden" name="idpd" value="{{product.id}}"/>
						    <select class="form-control" id="exampleFormControlSelect1" style="width:70px; height: 30px" name="qty">
						      <option disabled="Quantity">Qty</option>
						      <option selected="QtyinCart">{{product.quantity}}</option>
						      <option>1</option>
						      <option>2</option>
						      <option>3</option>
						      <option>4</option>
						      <option>5</option>
						    </select>

						    <button class="btn btn-primary" type="submit">Update</button>

							<a href="/removeFromCart/{{product.id}}">Delete</a>
						</div>
					</form>
				</div>

			{% endfor %}
			<hr>
			<div id="total" style=" text-align: right">
				<span id="subtotal">Subtotal: ${{subtotal}}</span>
			</div>
		</div>
	{% endif %}
</div>
<!-- <a href="/checkout">Proceed to checkout</a> -->
{% endblock content %}