{% extends 'base.html.j2' %}
{% block title %}
  User Greeting
{% endblock %}

{% block content %}
  <h1>Welcome to Artistry Makeup</h1>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 450px">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/product_pics/red_lips_woman.JPG" class="rounded mx-auto w-25 h-25 d-block"  alt="..." >
	  <img src="/static/product_pics/center_woman.JPG" class="rounded mx-auto w-25 h-25 d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/product_pics/center_woman.JPG" class="rounded mx-auto w-25 h-25 d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/product_pics/red_lips_woman.JPG" class="rounded mx-auto w-25 h-25 d-block" alt="...">
    </div>
  </div>
</div>

<div class="jumbotron">
  <h1 class="display-4">Latest Products</h1>
  <!-- <hr class="my-4"> -->
  
</div>


			  <ul class="thumbnails">
				<li class="span3">
				  <div class="thumbnail">
					<a  href="products.html"><img src="/static/product_pics/smashed_eye.jpg" class="rounded mx-auto w-25 h-25 d-block" alt=""/></a>
					<div class="caption">
					  <h5>Eyeshadow Pallete</h5>
					  <p style="text-align:center"> 
						This Eyeshadow Pallete contains the following warm, pigminted colors as shown above. 
					  </p>
					 
					  <h4 style="text-align:center"><a class="btn" href="products.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$40.00</a></h4>
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a  href="products.html"><img src="/static/product_pics/lipstick.jpg" class="rounded mx-auto w-25 h-25 d-block" alt=""/></a>
					<div class="caption">
					  <h5>Lipstick Bundle</h5>
					  <p style="text-align:center"> 
						This Lipstick bundle is perfect for fall and only $40!
					  </p>
					 <h4 style="text-align:center"><a class="btn" href="products.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$35.00</a></h4>
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a  href="products.html"><img src="/static/product_pics/foundation.jpg"  class="rounded mx-auto w-25 h-25 d-block"alt=""/></a>
					<div class="caption">
					  <h5>Foundation</h5>
					  <p style="text-align:center"> 
						This is a full coverage foundation that is perfect for all skin types!
					  </p>
					   <h4 style="text-align:center"><a class="btn" href="products.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$35.00</a></h4>
					</div>
				  </div>
				</li>
		
{% endblock content %}
